/*
    Общие элементы
    */

body {
    margin: 0;
    padding: 0;
    font: 13px Arial;
}

a{
    color: #eb722e;
}

a:hover {
    color: #b84819;
}

.container {
    width: 495px;
    margin: 0 auto;
}

/*
    Стили для элементов списка
    */

.hobby-list {
    margin: 20px 0px;
}

.hobby-list_h {
    color: #333333;
    font-size: 18px;
    border-bottom: 2px solid #666666;
    line-height: 25px;
}

.hobby-list_cnt_h {
    font-size: 14px;
    position: relative;
    padding: 25px 0 0;
}

.hobby-list_cnt_h_name {
    background: white;
    padding-right: 10px;
}

.hobby-list_cnt_h_bg {
    width: 100%;
    border-bottom: 1px dotted #666666;
    position: absolute;
    bottom: 6px;
    left: 0px;
    z-index: -1;
}

.hobby-list_cnt_inner {
    padding: 22px 0 18px 18px;
}

.h-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.h-list_li.hidden {display: none;}

.h-list_input-add {
    margin-bottom: 8px;
}

.h-list_input-add input{
    width: 213px;
    line-height: 22px;
    font-size: 13px;
    padding: 0 4px;
}

.h-list_li {
    padding: 3px 0px 4px 15px;
    position: relative;
    box-shadow: inset -30px 0px 30px -3px #FFFFFF;
    cursor: text;
    margin-left: -15px;
}

.h-list_li .show-on-hover {
    display: none;
    cursor: pointer;
}

li.h-list_li:hover .show-on-hover {
    display: block;
}

.h-list_li_name {
    overflow: hidden;
    height: 16px;
    display: inline-block;
    z-index: -1;
    position: relative;
}

/*
    Дополнительные элементы интерфейса
    */

.h-icon_add {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 10px;
    height: 10px;
    background: url(../img/icons.png) -4px -39px;
}

.h-icon_remove {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 10px;
    height: 10px;
    background: url(../img/icons.png) -4px -23px;
}

.h-icon_report {
    position: absolute;
    top: 1px;
    right: -3px;
    z-index: 2;
    box-shadow: -11px 0px 10px #ffffff;
    background: white;
    padding: 1px 3px 1px 21px;
    border: 1px solid transparent;
}

.h-icon_report.poped,
.h-icon_report:hover {
    border-color: rgb(194, 194, 194);
    display: block;
}

.h-icon_report_icon {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 11px;
    height: 10px;
    background: url(../img/icons.png) -3px -55px;
}

.h-icon_report_label {
    color: #666666;
    font-size: 11px;
}

.h-icon_report_form {
    position: absolute;
    top: 17px;
    right: -1px;
    background: #C2C2C2;
    padding: 3px;
    font-size: 11px;
    display: none;
}

.h-icon_report.poped .h-icon_report_form{
    display: block;
    cursor: default;
}

.h-icon_report_form textarea{
    margin: 3px 0px 0px;
    width: 200px;
    height: 50px;
    resize: vertical;
}

.h-icon_was-added {
    display: inline-block;
    color: #449f1b;
    background: url(../img/icons.png) 0px -1px no-repeat;
    line-height: 17px;
    padding-left: 22px;
    font-size: 12px;
    vertical-align: top;
}

.show-if-success {
    display: none;
}